
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site{
    width: 100%;
    height:auto;
    background-color: #e9eff0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

