
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site{
    width: 100%;
    height:1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

