.contact{
    width: 100%;
    background: linear-gradient(0deg, #e9eff0 50%, #93b2ba 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin-top: 140px;
    }
    .contacts{
        height: 200px;
        width: 80%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        a{
            flex-basis: (100%/2);
            text-align: center;
            margin: 10px auto;
            i{
                font-size: 70px;
                // margin: auto 100px;
                color: #769096;
            }
            &:last-child{
                i{
                    margin-bottom: 5px;
                }
            }
        }
        .fa-github-square{
            color: black;
        }
        .fa-linkedin{
            color: #0e76a8;
        }
        .fa-envelope-square{
            color: #d54638;
        }
        .fa-file-download{
            color: #e8aa5a;
        }
    }
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .about-container{
            width: 80%;
            height: 200px;
            border: 1px solid black;
            margin-top: 50px;
            p{
                font-size: 25px;
                text-align: center;
            }
        }
    }
}
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (min-width: 767.0px) {
    
 
  }

// Medium devices (tablets, less than 992px)
@media (min-width: 991.98px) { 
    .contact{
        .contacts{
            flex-wrap: nowrap;
            a{
                flex-basis: calc(100% / 4);
                margin: none;
                i{
                    font-size:100px;
                }
            }
        }
    }

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }