.navbar{
    display: none;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../multi/navbar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -120px;
    .navbar-link{
        .cl{
            display: none;
        }
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-align: center;
            text-decoration: none;
            color: black;
            font-size: 20px;
            flex-basis: 30%;
            margin: auto 25px;
            i{
                font-size:35px;
            }
        }
        .grey{
            color: #eaf0f3;
        }
    }
}
.off{
    display: none;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 810px;
    background-image: url("../../../multi/navbar1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -364px;
    transition: opacity 0.6;

    img{
        width: 350px;
    }
    .header-link{
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        a{
            text-align: center;
            text-decoration: none;
            color: black;
            font-size: 20px;
            margin: 25px auto;
            flex-basis: 50%;
            i{
                font-size:35px;
            }
        }
        .off{
            display: none;
        }
        .op0{
            opacity: 0;
        }
    }
    .header-img{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 50px auto;
        margin-top: 200px;
        h1{
            font-size: 30px;
            margin-top: 20px;
        }
        h2{
            font-size: 25px;
        }
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            text-align: center;
            font-size: 45px;
        }
    }
    .off{
        display: none;
    }
    .on{
        opacity: 1;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (min-width: 768.98px) {  
    .header{
        background-position-x: inherit;
    }
    a{
        flex-basis: inherit;
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 991.98px) { 
.navbar{
    background-position-y: -860px;
    height: 50px;
    .navbar-link{
        .cl{
            display: block;
        }
        a{
            font-size: 13px;
            flex-basis: 14%;
            i{
                font-size: 25px;
            }
        }
        }
        .mb{
            display: none;
        }
}
.header{
    background-size: cover;
    height: 800px;
    background-position-x: inherit;
    img{
        width: 400px;
    }
    .header-img{
        margin: 170px auto 80px auto;
        .logo{
            width: 400px;
            height: 266px;
            padding-top: 90px;
            h1{
                font-size: 50px;
                margin: 20px auto 50px auto;
            }
        }
    }
    .header-link{
        display: flex;
            align-items: flex-start;
            justify-content: center;
        a{
            text-align: center;
            font-size: 20px;
            margin: 0 50px;
            flex-basis: inherit;
            i{
                font-size:35px;
            }
        }
    }
} 
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }