.works{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    background: linear-gradient(180deg, rgba(233,239,240,1) 30%,#93b2ba 100%);
    h2{
        margin-top: 57px;
    }
    .work-list{
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        .work{
            width: calc( 100% / 2 );
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                width: 100px;
            }
            .site{
                position: absolute;
                top: 0%;
                width: 200%;
                z-index: 1;
            }
            .dx1,
            .sx1,
            .ct2{
                left: 0%;
            }
            .ct1{
                right: 0%;
            }
            .dx2,
            .sx2{
                left: -100%;
            }
            .work-img,
            .work-link{
                width: 100%;
                height:50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .work-link{
                flex-direction: column;
                align-items: flex-start;
                align-items: center;
                display: none;
                a{
                    margin-bottom: 25px;
                    display: flex;
                    align-items: baseline;
                    justify-content: center;
                    .fa-github{
                        font-size: 30px;
                    }
                    .fa-arrow-right {
                        margin: 0 10px 0 0;
                    }
                }
                .languages{
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    i{
                        font-weight: 400;
                        font-size: 25px;
                        margin: auto 5px;
                    }
                    .fa-html5{
                        color: #f06429;
                    }
                    .fa-css3{
                        color: #2964EE;
                    }
                    .fa-php{
                        color: #6180BF;
                    }
                    .fa-laravel{
                        color: #F35043;
                    }
                    .fa-sass{
                        color: #cd6699;
                    }
                }
            }
        }
    }
    .adv{
        display:none;
       
       }
       .adv2{
        color: #e9eeef;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        font-size: 21px;
       }
}
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) { 
    .works{
        .work-list{
            .work{
                .dx2,
                .ct2{
                    top: -100%;
                }
            }
        }
    }
 }

// Medium devices (tablets, less than 992px)
@media (min-width: 991.98px) { 
    .works{
        height: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, rgba(233,239,240,1) 50%, #93b2ba 100%);
        margin-top: 140px;
        .work-list{
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .work{
                width: calc(95% / 3 );
                height: 270px;
                margin: 10px;
                img{
                    width: 150px;
                }
                .site{
                    width: 250%;
                }
                .sx1{
                    left: 31%;
                }
                .sx2{
                    left: 31%;
                    top: -110%;
                }
                .dx1{
                    left: -180%;
                }
                .dx2{
                    left: -180%;
                    top: -105%;
                }
                .ct1{
                    right: 0;
                    left: -75%;
                }
                .ct2{
                    left: -306px;
                    top: -285px;
                }
                .work-link{
                    display: flex;
                    .languages{
                        display: flex;
                        align-items:center;
                        justify-content: center;
                        i{
                            font-weight: 400;
                            font-size: 40px;
                            margin: auto 10px;
                        }
                    }
                }
            }
        }
       .adv{
            display: block;
            color: #e9eeef;
            margin-top: 10px;
       }
       .adv2{
        display:none;
       }
    }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }