.works{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .work-list{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .work{
            width: calc(80% / 3 );
            height: 270px;
            border: 1px solid red;
            margin: 30px;
        }
    }
   
}